In [1]:
print("Hello World!")
#first

Hello World!

In [2]:
#second
import sys

print(sys.version)

3.13.1 (tags/v3.13.1:0671451, Dec  3 2024, 19:06:28) [MSC v.1942 64 bit (AMD64)]

In [6]:
if 5 > 2:
    print("Five is greater than two!")
if 5 > 2:
        print("Five is greater than two!")



x = 5
y = "Hello, World!"
print(y)

Five is greater than two!
Five is greater than two!
Hello, World!

In [7]:
# 3
print("types of comments")
#first type of comment should

"""second type
multiline comments
there is a lot, and more
than 
just 
one 
line
"""

types of comments

'second type\nmultiline comments\nthere is a lot, and more\nthan \njust \none \nline\n'

In [8]:
#4
#from python variables
x = 5
y = "Baigel"
print(type(x))
print(type(y))

#from variable names
"""
illegals
2myajndakn = "Jhon"
start with numbers
my var = smth
"""
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

my_variable_name_is = "John"

#from Assign Multiple Values
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

x = y = z = "Orange"
print(x)
print(y)
print(z)

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

#from output variables
x = "Python is awesome"
print(x)

x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

x = 5
y = 10
print(x + y)

x = 5
y = "John"
print(x, y)

x = "top"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

<class 'int'>
<class 'str'>
Orange
Banana
Cherry
Orange
Orange
Orange
apple
banana
cherry
Python is awesome
Python is awesome
Python is awesome
15
5 John
Python is fantastic
Python is top

In [14]:
#data types 5
x = 5
name = "Josh"
print(type(name))
print(type(x))
y = 20.5
print(type(y))

<class 'str'>
<class 'int'>
<class 'float'>

In [17]:
#6
x = 1
y = 35.65
z = -3255522

print(type(x))
print(type(y))
print(type(z))

import random

print(random.randrange(1, 10))

<class 'int'>
<class 'float'>
<class 'int'>
4

In [1]:
#7 casting
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2